body,
html {
  background-color: #e4e4e4;
}

/* colors and backgrounds*/
.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* heights and widths*/

.h-screen {
  height: 100vh;
}

.w-400 {
  width: 400px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}
/* form-elements*/

input {
  width: 100%;
  height: 45px !important;
  border: 1px solid rgb(192, 190, 190);
}

input:focus {
  outline: none;
  border: 1px solid rgb(40, 40, 40);
}

.contained-btn {
  height: 45px !important;
  border-radius: 0 !important;
  background-color: black;
  color: white !important;
  text-transform: uppercase;
  border: 1px solid black;
  width: 100%;
}

.outlined-btn {
  height: 45px !important;
  border-radius: 0 !important;
  background-color: black;
  color: white !important;
  text-transform: uppercase;
  border: 1px solid black;
  width: 100%;
}
